.project-details {
    border: 2px solid black;
    background-color: whitesmoke;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 25px;
  }

  .close-button {
    position: absolute;
    background-color: black;
    color: white;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50px;
  }

  ul {
    list-style-type: none;
  }

  .total {
    position: absolute;
    font-size: 40px;
    margin: 0 auto;
    bottom: 30px;
    right: 30px;
  }